<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Category with left sidebar</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Category with left sidebar</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <div class="col-md-3">
                <!-- MENUS AND FILTERS-->
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Search</h3>
                    </div>
                    <div class="panel-body">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills flex-column text-sm category-menu">
                            <li class="nav-item">
                                <a href="shop-category.html" class="nav-link d-flex align-items-center justify-content-between"><span>T-shirts </span><span class="badge badge-secondary">42</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="shop-category.html" class="nav-link d-flex align-items-center justify-content-between"><span>Shirts </span><span class="badge badge-secondary">12</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="shop-category.html" class="nav-link d-flex align-items-center active justify-content-between"><span>Pants </span><span class="badge badge-secondary">72</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="shop-category.html" class="nav-link d-flex align-items-center justify-content-between"><span>Accessories </span><span class="badge badge-secondary">142</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="shop-category.html" class="nav-link d-flex align-items-center justify-content-between"><span>Men shits </span><span class="badge badge-secondary">8</span></a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="banner"><a href="shop-category.html"><img src="img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-md-9">
                <div class="row products">
                    <div class="col-lg-3 col-md-4">
                        <div class="product">
                            <div class="image"><a href="https://www.instagram.com/restaurant_adiya/?hl=ru" target="_blank" ><img src="images/restaurant_adiya.jpg" alt="" class="img-fluid image"></a></div>
                            <div class="text">
                                <h3 class="h5"><a>Ресторан Адия</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="product">
                            <div class="image"><a href="shop-detail.html"><img src="images/seendicat.jpg" alt="" class="img-fluid image"></a></div>
                            <div class="text">
                                <h3 class="h5"><a>Seendicat</a></h3>
                            </div>
                            <div class="ribbon-holder">
                                <div class="ribbon sale">TOP</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="product">
                            <div class="image"><a href="shop-detail.html"><img src="images/sumki_alma_ata.jpg" alt="" class="img-fluid image"></a></div>
                            <div class="text">
                                <h3 class="h5"><a>Сумки в Алмате</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="product">
                            <div class="image"><a href="shop-detail.html"><img src="images/sushi.boom.astana1.jpg" class="img-fluid image"></a></div>
                            <div class="text">
                                <h3 class="h5"><a>Sushi Boom Best Sushi in Astana</a></h3>
                            </div>
                            <div class="ribbon-holder">
                                <div class="ribbon new">NEW</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>